* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 150px 0 0 117px;
}

.loadingContainer {
    margin: 50px;
}